---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Support</Fragment>
      <Fragment slot="desc">We are a here to help.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-12 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Address</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          142 Sycamore Dr, Kimberling City, Missouri (MO), 65686 United States
        </p>
      </div>
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Email</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3 grid">
          <a href="mailto:support@optigrowthmarkets.com"
            >support@optigrowthmarkets.com</a
          >

          <small>FOR PUBLIC INQUIRIES</small>
        </p>
      </div>
    </div>
    <div class="mx-auto max-w-4xl mt-16 mb-10">
      <span class="text-lg font-bold text-gray-500/60">Have a question?</span>
      <h2 class="font-bold text-4xl">Let's <b class="text-blue-600">get in touch</b></h2>
    </div>
  </Container>
</Layout>
