---
import TradingViewWidget from "@components/ChartDisplay";
import DashboardLayout from "@layouts/DashboardLayout.astro";
import { isLoggedIn } from "services/UserService";
import { fetchDashboardData } from "../../stores/dashboard";

await fetchDashboardData({ skip: 0, limit: 100 });
if (!isLoggedIn()) {
  Astro.redirect("/user");
}

import { getAllTabs } from "../../stores/dashboard";
const tabs = getAllTabs();
const selectedTab = tabs.find((tab) => tab.selected);
const tradingViewSymbol = `${"BINANCE"}:${selectedTab?.pair.replace("/", "")}`;
console.log(tradingViewSymbol, ":::Trading View symbol");
---

<DashboardLayout>
  <div class="grid w-full h-full p-2">
    <TradingViewWidget client:load />
  </div>
</DashboardLayout>
