---
import DashboardLayout from "@layouts/DashboardLayout.astro";
import { fetchDashboardData } from "../../stores/dashboard";


await fetchDashboardData({skip: 0, limit: 100});
---


<DashboardLayout>
  <h1>Dashboard</h1>
</DashboardLayout>