---
import TradingViewWidget from "@components/ChartDisplay";
import DashboardLayout from "@layouts/DashboardLayout.astro";
import { isLoggedIn } from "services/UserService";
import { fetchDashboardData } from "../../stores/dashboard";

await fetchDashboardData({ page: 1, limit: 50 });
if (!isLoggedIn()) {
  Astro.redirect("/user");
}
---

<DashboardLayout>
  <div class="grid w-full h-full p-2">
    <TradingViewWidget client:load />
  </div>
</DashboardLayout>

<script>
  window.addEventListener("deviceorientation", (ev) => {
    if (window.innerHeight > window.innerWidth) {
      alert("Please use Landscape!");
    }
    console.log(ev, "::: Orientation events", window.orientation);
    window.alert("Orientation changed");
  });
</script>
