---
import DashboardLayout from "@layouts/DashboardLayout.astro";
import { isLoggedIn } from "services/UserService";
if(!isLoggedIn()) {
  Astro.redirect("/user");
}
---

<DashboardLayout>
  <h1 class="text-white">History</h1>
</DashboardLayout>