---
import OnboardForms from "@components/OnboardForms";
import { isLoggedIn } from "services/UserService";
import "../../utils/global.css";

if (isLoggedIn()) {
  Astro.redirect("/user/dashboard");
} else {
  Astro.redirect("/user");
}
---

<!doctype html>
<html lang="en" class="h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="grid w-screen h-screen">
    <div
      class="bg-gradient-to-r bg-black from-blue-500 to-red-400 w-screen h-screen text-white grid items-center justify-center justify-items-center">
      <div class="w-full bg-white rounded-md">
        <div class="p-6 grid w-full">
          <OnboardForms client:load />
        </div>
      </div>
      <div class="w-screen items-center justify-end flex gap-2 px-4">
        <button class="text-sm">TERMS OF SERVICE</button>
        <button>PRIVACY POLICY</button>
      </div>
    </div>
  </body>
</html>
