---
// Server functions
import AccountNav from "@components/navbar/account-nav.astro";
import Modal from "@components/ui/modal.astro";
import Icon from "astro-icon";
import AssetSearch from "./AssetSearch";
import TabsList from "./TabsLIst";
// console.log($tabs.get().length, ":::TABS");
// $tabs.set([]);
// await refreshTabData();
---

<div
  class="sticky top-0 left-0 right-0 h-20 bg-slate-900/80 flex items-center justify-between">
  <TabsList client:load />
  <Modal id="newtabmodal" open="Open modal">
    <main
      slot="main"
      class="w-full grid items-start justify-items-start justify-center min-w-fit overflow-hidden h-full relative">
      <AssetSearch client:only />
    </main>
    <button slot="close" class="mx-auto text-center absolute right-0 top-1">
      <Icon name="mdi:window-close" class="h-10 w-10 text-slate-300" />
    </button>
  </Modal>

  <AccountNav title="Demo account" />

  <div class="px-2 mr-5 hidden lg:flex">
    <Icon name="ic:sharp-notifications" class="w-8 h-8 text-white" />
  </div>
</div>
