---
// Server functions
import AccountNavDropDown from "@components/navbar/account-nav.astro";
import Modal from "@components/ui/modal.astro";
import Icon from "astro-icon";
const tabList = [
  {
    peer: "LTC/BTC",
    market: "BINANCE",
    price: 2.37,
    selected: true,
  },
  {
    peer: "BNB/BTC",
    market: "BINANCE",
    price: 1.53,
    selected: false,
  },
];


import AssetSearch from "./AssetSearch";
import TabsList from "./TabsLIst";
// console.log($tabs.get().length, ":::TABS");
// $tabs.set([]);
// await refreshTabData();
---

<div
  class="sticky top-0 left-0 right-0 h-20 bg-slate-900/80 flex items-center justify-between">
  <TabsList client:load />
  <Modal id="newtabmodal" open="Open modal">
    <main
      slot="main"
      class="w-full grid items-start justify-items-start justify-center min-w-fit overflow-hidden h-full relative">
      <AssetSearch client:only />
    </main>
    <button slot="close" class="mx-auto text-center absolute right-0 top-1">
      <Icon name="mdi:window-close" class="h-10 w-10 text-slate-300" />
    </button>
  </Modal>
  <div class="w-full grid items-center justify-end px-10">
    <AccountNavDropDown
      title={"Practice account"}
      children={[
        {
          path: "/test",
          title: "Test",
        },
        {
          path: "/test",
          title: "Text",
        },
        {
          path: "/test",
          title: "Tester",
        },
      ]}
      lastItem={[
        {
          path: "/test",
          title: "Test",
        },
        {
          path: "/test",
          title: "Text",
        },
        {
          path: "/test",
          title: "Tester",
        },
      ].length - 1}
    />
    <!-- <span class="font-medium text-xs uppercase text-orange-500">
      PRACTISE ACCOUNT
    </span>
    <span class="text-white font-medium text-lg">10,000.00</span> -->
  </div>

  <div class="px-5">
    <Icon name="ic:sharp-notifications" class="w-8 h-8 text-white" />
  </div>
</div>
