---
// Server functions
import TokenTab from "@components/header/tokentab.astro";
import Modal from "@components/ui/modal.astro";
import Icon from "astro-icon";
const tabList = [
  {
    peer: "LTC/BTC",
    market: "BINANCE",
    price: 2.37,
    selected: true,
  },
  {
    peer: "BNB/BTC",
    market: "BINANCE",
    price: 1.53,
    selected: false,
  }
]

import { $dashboardData, $tabs, createNewTab, removeTab, selectTab } from "../../stores/dashboard";
// await refreshTabData();
---



<div class="sticky top-0 left-0 right-0 h-20 bg-slate-900/80 flex items-center">
  <div class="flex-auto flex items-center justify-start px-2 max-w-2xl overflow-x-scroll">
    {
      $tabs.get().map((item) => (
        <TokenTab client:load {...item} selected={item.selected} selectTab={selectTab} removeTab={removeTab} />
      ))
    }
    
    
  </div>
  <Modal id="newtabmodal" open="Open modal">
    
      <main slot="main" class="w-full grid items-center justify-center pr-12 pl-5">
        <input type="text" class="bg-slate-800 border-gray-400/50 rounded-md caret-current border px-2 py-3 text-white outline-none font-medium w-full capitalize" placeholder="BTC/ETH" />
        <div class="h-full w-1/2 overflow-y-scroll bg-green-200/30 hidden">
          <ul class="w-full h-auto list-none">

          {
            $dashboardData.get().map((data) => (
              <li class="flex justify-between items-center hover:bg-gray-400/40" onclick={`${createNewTab(data["name"].toLowerCase())}`}>
                <span>{data["symbol"]}</span>
                <span>{data["name"]}</span>
                <span>{data["price"].toFixed(2)}</span>
              </li>
            ))
          }
          </ul>
        </div>
      </main>
      <button slot="close" class="mx-auto text-center absolute right-0 top-1">
        <Icon name="mdi:window-close" class="h-10 w-10 text-slate-300" />
      </button>
    
  </Modal>
</div>