---
import { Astronav, MenuItems } from "astro-navbar";
import Dropdown from "./dropdown.astro";
const { title, children } = Astro.props;
---

<div class="w-full grid items-center justify-end px-10">
  <Astronav>
    <MenuItems>
      <div class="w-full grid items-center justify-start">
        <Dropdown
          title={title}
          children={children}
          lastItem={children.length - 1}
        />
      </div>
    </MenuItems>
  </Astronav>
</div>
