---
import { Astronav, MenuItems } from "astro-navbar";
import Dropdown from "./dropdown.astro";
const { title, children } = Astro.props;
---

<div
  class="lg:w-full w-fit grid items-center lg:justify-end justify-start px-5">
  <Astronav>
    <MenuItems>
      <div class="lg:w-full grid items-center justify-start w-fit">
        <Dropdown title={title} />
      </div>
    </MenuItems>
  </Astronav>
</div>
