---
import { Image } from "astro:assets";
import Link from "@components/ui/link.astro";
import featIcon3 from "assets/fast-signal.svg";
import featIcon2 from "assets/global-access.svg";
import featIcon1 from "../assets/lowest-asset-icon.svg";
---
<main class="grid bg-fixed bg-no-repeat bg-center bg-cover" style="background-image: url(/in-liquid-slide-bg.png);">
<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 px-10">
  <div class="lg:py-6 py-3 md:order-1 md:block flex items-center justify-center">
    <!-- <Image
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    /> -->
    <div class="lg:w-[640px] max-w-3xl md:w-[540px] md:h-[400px] w-full h-[300px] lg:h-[500px] px-2">

      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div> -->
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
        {
          "symbols": [
            [
              "BITSTAMP:BTCUSD|1D"
            ],
            [
              "COINBASE:ETHUSD|1D"
            ],
            [
              "COINBASE:SOLUSD|1D"
            ],
            [
              "COINBASE:SHIBUSD|1D"
            ],
            [
              "COINBASE:DOGEUSD|1D"
            ]
          ],
            "chartOnly": false,
              "width": "100%",
                "height": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "autosize": true,
                        "showVolume": false,
                          "showMA": false,
                            "hideDateRanges": false,
                              "hideMarketStatus": false,
                                "hideSymbolLogo": false,
                                  "scalePosition": "right",
                                    "scaleMode": "Normal",
                                      "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
                                        "fontSize": "12",
                                          "noTimeScale": false,
                                            "valuesTracking": "1",
                                              "changeMode": "price-and-percent",
                                                "chartType": "area",
                                                  "maLineColor": "#2962FF",
                                                    "maLineWidth": 1,
                                                      "maLength": 9,
                                                        "lineWidth": 2,
                                                          "lineType": 0,
                                                            "dateRanges": [
                                                              "1d|1",
                                                              "1m|30",
                                                              "3m|60",
                                                              "12m|1D",
                                                              "60m|1W",
                                                              "all|1M"
                                                            ]
        }
        </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
  </div>
  <div class="w-full">
    <h1
      class="text-4xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Trade currency pairs, Invest in Stocks.
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Join millions who've already discovered smarter<wbr /> investing in multiple types of assets.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <!-- <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

        Download for Free
      </Link> -->
      <Link
        size="md"
        style="outline"
        rel="noopener"
        href="/user"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <!-- <Icon class="text-black w-4 h-4" name="bx:bxl-github" /> -->
        GET STARTED
      </Link>
    </div>
  </div>
  
</main>

<div class="lg:flex grid gap-4 items-center justify-center mb-8 px-6">
  <div class="flex gap-4 items-start justify-center">
    <div class="mt-1 bg-black/10 rounded-full flex items-center justify-center p-1 w-20 h-20 shrink-0">
      <Image
        src={featIcon1}
        alt="Lowest fees"
        sizes="(max-width: 80px) 80px, 70px"
        loading="eager"
        format="avif"
      />
    </div>
    <div>
      <h3 class="font-semibold text-lg">Lowest fees</h3>{" "}
      <p class="text-slate-500 mt-2 leading-relaxed">We give you access to trading opportunities at low cost.</p>
    </div>
  </div>
  <div class="flex gap-4 items-start justify-center">
    <div class="mt-1 bg-black/10 rounded-full flex items-center justify-center p-1 w-20 h-20 shrink-0">
      <Image
        src={featIcon2}
        alt="Global access"
        sizes="(max-width: 80px) 80px, 70px"
        loading="eager"
        format="avif"
      />
    </div>
    <div>
      <h3 class="font-semibold text-lg">Global access</h3>{" "}
      <p class="text-slate-500 mt-2 leading-relaxed">Our platform can be accessed from anywhere around the world.</p>
    </div>
  </div>
  <div class="flex gap-4 items-start justify-center">
    <div class="mt-1 bg-black/10 rounded-full flex items-center justify-center p-1 w-20 h-20 shrink-0">
      <Image
        src={featIcon3}
        alt="Lowest fees"
        sizes="(max-width: 80px) 80px, 70px"
        loading="eager"
        format="avif"
      />
    </div>
    <div>
      <h3 class="font-semibold text-lg">Fast Signals</h3>{" "}
      <p class="text-slate-500 mt-2 leading-relaxed">Trade and earn with our signals delivered directly to you.</p>
    </div>
  </div>
</div>
</main>