---
import Button from "./button.astro";
const { id, open, liveBalance } = Astro.props;
---

<style>
  dialog {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
  }
  dialog::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(10, 9, 9, 0.7);
  }
</style>

<!-- <div class="w-10 h-10 bg-transparent mx-2 hover:cursor-pointer hover:bg-slate-500/60 transition-all duration-75 border border-slate-300/60 rounded-md flex items-center justify-center justify-items-center p-1">
  <Icon name="bi:plus-lg" class="w-5 h-5 text-white" />
</div> -->

<Button onclick={`window.${id}.showModal()`}>ADD FUNDS</Button>
<!-- <button >{open}</button> -->

<dialog id={id}>
  <slot name="main" />
  <form method="dialog">
    <slot name="close" />
  </form>
</dialog>
